body {
    margin: auto;
    max-width: 1200px;
    
    
}

header {
    background-color: #222f3e;

}

header nav {
    background-color: #354758;
    color: white;
}

header img {
    height: 3em;
    padding: 0.8em 0 0 1em;
}

header ul {
    list-style-type: none;
    display: flex;
    padding-left: 1em;
    margin: 0;
}

header ul li {
    padding: 0.2em 0.4em;
}

main {
    background-color: #eaeded;
    padding: 1.5rem;
}

#topbar {
    background-color: #f56600;
    color: white;
    text-align: center;
    font-size: 1.6ch;
    margin-bottom: 1.8em;
    height: 1.8em;
    /* TESTO DA CENTRARE VERTICALMENTE */
}

#topbar p {
    margin: 0;
}

#background-img {
    background-image: url(img/bg-image.png);
    background-size: contain;
    height: 7em;
    position: relative;
}

#background-img div {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

